@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: Kaldera;
  src: url(/Fonts/Kaldera.otf);
}
@font-face{
  font-family: montrealRegular;
  src: url(/Fonts/neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-Regular.otf);
}
@font-face{
  font-family: montrealLight;
  src: url(../public/Fonts/neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-Light.otf);
}
@font-face{
  font-family: montrealLight;
  src: url(../public/Fonts/neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-Light.otf);
}
@font-face{
  font-family: LemonMilk-Bold;
  src: url(../public/Fonts/lemon_milk/LEMONMILK-Bold.otf);
}
@font-face{
  font-family: LemonMilk-BoldItalics;
  src: url(../public/Fonts/lemon_milk/LEMONMILK-BoldItalic.otf);
}
@font-face{
  font-family: LemonMilk-Light;
  src: url(../public/Fonts/lemon_milk/LEMONMILK-Light.otf);
}
@font-face{
  font-family: LemonMilk-LightItalics;
  src: url(../public/Fonts/lemon_milk/LEMONMILK-LightItalic.otf);
}
@font-face{
  font-family: LemonMilk-Medium;
  src: url(../public/Fonts/lemon_milk/LEMONMILK-Medium.otf);
}
@font-face{
  font-family: LemonMilk-MediumItalics;
  src: url(../public/Fonts/lemon_milk/LEMONMILK-MediumItalic.otf);
}
@font-face{
  font-family: LemonMilk-Regular;
  src: url(../public/Fonts/lemon_milk/LEMONMILK-Regular.otf);
}
@font-face{
  font-family: LemonMilk-RegularItalics;
  src: url(../public/Fonts/lemon_milk/LEMONMILK-RegularItalic.otf);
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: LemonMilk-Medium;
    
    background: #0f0f0f;
    color: #E8FEFA;
}
