.animatedScreen{
    width:100vw;
    height: 100vh;
    display: flex;
    background-color: #0f0f0f;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .animatedScreen h1{
    /* color: inherit; */
    color:'#fff';
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 600px;
  }
  
  .animatedScreen h1 span {
    font-size: 40px;
    margin-left: 40px;
  }
  
  .message {
    background-color: #E8FEFA;
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 260px;
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 400px;
    }
    30% {
      top: 0.2rem;
      width: 400px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 400px;
    }
    62% {
      top: -4.5rem;
      width: 400px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    /* 71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 400px;
    }
    95% {
      top: -9rem;
      width: 400px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    } */
  }
  .counter{
    margin-block: 300px 100px;
    color: inherit;
    font-size: 2em;
  }
  .typedText{
    font-family: LemonMilk-RegularItalics;
  }
  .image{
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(40);
  }
  .heading{
    font-family: LemonMilk-Bold;
  }
  .headFooter{
    font-size: 0.9rem;
    font-family: montrealRegular;
  }
  .typedText p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #E8FEFA; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    /* animation: 
      typing 1.5s steps(150, end),
      blink-caret .75s step-end infinite;
  } */
  animation: typing 1.5s steps(40, end),
  blink-caret 0.75s step-end infinite;
 
}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #E8FEFA; }
  }

  @keyframes counting {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  #counting-effect {
    animation: counting 3s;
  }